.section1__titre
{
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 5px 20px ;
}
.section1__desserts_card
{
    width: nth($width-box, 2);
    background-color: #fff;
    box-shadow: $shadow;
    margin-left: 18px;
    border: 1px solid white;
    border-radius: 10px 10px;
    height: 65px;
    & p
    {
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }
}
.section1__plats_card
{
    width: nth($width-box, 2);
    background-color: #fff;
    box-shadow: $shadow;
    margin-left: 18px;
    border: 1px solid white;
    border-radius: 10px 10px;
    height: 65px;
    & p
    {
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }
}

.section1__entrées_card
{
   width: nth($width-box, 2);
   background-color: #fff;
   box-shadow : $shadow;
   border: 1px solid white;
   border-radius: 10px 10px;
   height: 65px;
   & p
   {
        margin-left: 18px;
       padding-right: 10px;
       width: 100%;
       margin: 4px;
       display: flex;
       justify-content: space-between;
   }
   &-m
   {
       transition: transform 40ms;
       transform-origin: 100% 0%;
       position:relative;
       bottom: 50px;
       left: 290px;
       margin-right: -10px;
       border-top-right-radius: 10px ;
       border-bottom-right-radius: 10px ;
       font-size: 22px;
       color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        height: 65px;
        width: 20%;
        transform: scaleX(0);
   }
   & :hover 
   {
        & + .section1__entrées_card-m
        {
            transform: scaleX(1);
        }
        padding-right: 22%;
   }
}