.section1__titre
{
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 5px 20px ;
    .heart1
    {
        position: relative;
        left: 30px;
        opacity : 0;
        color: $color-secondary;
    }
}
.section1__desserts_card
{
    width: nth($width-box, 2);
    background-color: #fff;
    box-shadow: $shadow;
    margin-left: 18px;
    border-radius: 10px 10px;
    overflow: hidden;
    height: 65px;
    transform: scale(0);
    & p
    {
        overflow: hidden ;
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }
    & :hover 
    {
         & + .section1__entrées_card-m
         {
           transform: translateX(-100%);
         }
         & +  i{
             transition: transform 400ms;
             transform: rotate(360deg);  
           }
         padding-right: 17%;
    }
}
@for $i from 1 through 9{
    .section1__anim_card-#{$i}{
        animation-name: card-anim ;
        animation-duration: 3s;
        animation-delay: 0.5s * $i;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    }
}
@keyframes card-anim{
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateY(-2%);
        opacity: 1;
    }
    
}
.section1__plats_card
{
    width: nth($width-box, 2);
    background-color: #fff;
    box-shadow: $shadow;
    margin-left: 18px;
    border-radius: 10px 10px;
    height: 65px;
    overflow: hidden;
    transform: scale(0);
    & p
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }
    :hover 
    {
        & + .section1__entrées_card-m
        {
          transform: translateX(-100%);
        }
        & + i
        {
            transition: transform 2s;
            transform: rotate(360deg);
        }
        padding-right: 15%;
    }
}
.section1__entrées_card
{
   width: nth($width-box, 2);
   background-color: #fff;
   box-shadow : $shadow;
   border-radius: 10px 10px;
   height: 65px;
   margin-left: 18px;
   overflow: hidden;
   transform: scale(0);
   & p
   {
       padding-right: 10px;
       width: 100%;
       flex-wrap: nowrap;
       overflow:hidden;
       margin: 4px;
       display: flex;
       justify-content: space-between;
   }
   &-m
   {
       transform-origin: 100% 0%;
       position:relative;
       bottom: 50px;
       left: 100%;
       border-top-right-radius: 10px ;
       border-bottom-right-radius: 10px ;
       font-size: 22px;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: $green;
       height: 70px;
       width: 15%;
        transition: transform 400ms;
   }
   :hover 
   {
        & + .section1__entrées_card-m
        {
          transform: translateX(-100%);
        }
        & + i
        {
            animation: check-rot 5s;
        }
        padding-right: 17%;
   }
}
@keyframes check-rot
{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    } 
}