.section1__titre
{
    font-size: 15px;
    font-style: italic;
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 5px 20px ;
    .heart2
    {
        position: relative;
        left: 5px;
    }
    .heart2
    {
        svg{
            overflow: visible;
        }
        path{
            stroke: black;
            stroke-width : 2px;
            stroke-opacity: 1;
            fill: url(#gradient1);
            fill-opacity: 0;
            transition: all 500ms ease-in-out;
        }
        path:hover{
            stroke-opacity: 0;
            fill-opacity: 1;
        }
    }
}
.section1__desserts_card
{
    width: nth($width-box, 2);
    background-color: #fff;
    box-shadow: $shadow;
    margin-left: 18px;
    border-radius: 10px 10px;
    overflow: hidden;
    z-index: 1;
    height: 65px;
    flex-wrap: nowrap;
    transform: scale(0);
    text-overflow: ellipsis;
    &-m
    {
        transform-origin: 100% 0%;
        position:relative;
        bottom: 50px;
        left: 100%;
        border-top-right-radius: 10px ;
        border-bottom-right-radius: 10px ;
        font-size: 22px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        height: 70px;
        width: 15%;
        transition: transform 400ms ease-in-out;
        i{
            transition: transform 500ms ease-in-out;
        }
    }
    & p
    {
        overflow-wrap: normal;
        overflow: hidden ;
        white-space: nowrap;
        flex-wrap: nowrap;
        transition: width 700ms ease-in;
        text-overflow: ellipsis;
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }
    & :hover + .section1__desserts_card-m
    {
         transform: translateX(-50px);
         i
         {
             transform: rotate(-360deg);
         }
    }
    & :hover + p
    {
       padding-right: 10%;
    }
}
@for $i from 1 through 9{
    .section1__anim_card-#{$i}{
        animation-name: card-anim ;
        animation-duration: 3s;
        animation-delay: 0.5s * $i;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    }
}
@keyframes card-anim{
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateY(-2%);
        opacity: 1;
    }
    
}
.section1__plats_card
{
    width: nth($width-box, 2);
    background-color: #fff;
    box-shadow: $shadow;
    margin-left: 18px;
    border-radius: 10px 10px;
    height: 65px;
    overflow: hidden;
    transform: scale(0);
    text-overflow: ellipsis;
    &-m
    {
        transform-origin: 100% 0%;
        position:relative;
        bottom: 50px;
        left: 100%;
        border-top-right-radius: 10px ;
        border-bottom-right-radius: 10px ;
        font-size: 22px;
        color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        height: 70px;
        width: 20%;
     transition: transform 400ms ease-in-out;
     i{
         transition: transform 500ms ease-in-out;
     }
    }
    & p
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }
    & :hover + .section1__plats_card-m
    {
         transform: translateX(-100%);
         i
         {
             transform: rotate(-360deg);
         }
    }
}
.section1__entrées_card
{
   width: nth($width-box, 2);
   background-color: #fff;
   box-shadow : $shadow;
   border-radius: 10px 10px;
   height: 65px;
   margin-left: 18px;
   overflow: hidden;
   transform: scale(0);
   & p
   {
       padding-right: 10px;
       width: 100%;
       white-space: nowrap;
       text-overflow: ellipsis;
       flex-wrap: nowrap;
       
       margin: 4px;
       display: flex;
       justify-content: space-between;
   }
   &-m
   {
       transform-origin: 100% 0%;
       position:relative;
       bottom: 50px;
       left: 100%;
       border-top-right-radius: 10px ;
       border-bottom-right-radius: 10px ;
       font-size: 22px;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: $green;
       height: 70px;
       width: 70px;
        transition: transform 400ms ease-in-out;
        i{
            transition: transform 500ms ease-in-out;
        }
   }
   & :hover + .section1__entrées_card-m
   {
        transform: translateX(-100%);
        i
        {
            transform: rotate(-360deg);
        }
   }
   & :hover
   {
       padding-right: 15%;
   }
}