.footer
{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 10px;
    &__ohmy{
        font-size: 20px;
        
        font-weight: bold;
        font-style: italic;
    }
    & a{
        text-decoration-line: none;
        color: white;
    }
}

