@charset "UTF-8";
body {
  font-family: Roboto, Shrikhand;
  box-sizing: border-box;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  padding-bottom: 30px;
}
.header figure {
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: -8px;
  margin: 0px;
  margin-bottom: 5px;
  height: 100%;
  background-color: white;
}
.header figure img {
  width: 65%;
  object-fit: cover;
}
.header div {
  background-color: #F2F2F2;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding-right: 20px;
  text-align: center;
  padding-top: 15px;
}
.header div p {
  margin: 0px;
  font-size: 15px;
  font-weight: lighter;
}
.header div p i {
  margin-right: 5px;
}
.header-P {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
  width: 80%;
  padding-left: 55px;
  font-weight: bold;
}
.header-P1 {
  text-align: center;
  font-size: 20px;
  width: 90%;
  padding-left: 25px;
}
.header .btn {
  border: 1px solid #FF79DA;
  width: 65%;
  background: linear-gradient(190deg, #FF79DA, #9356DC);
  font-size: 20px;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  height: 65px;
  border-radius: 30px;
  align-self: center;
}
.header .btn a {
  text-decoration-line: none;
  color: white;
}
.header .btn:hover {
  background: linear-gradient(40deg, #FF79DA, #9356DC);
  box-shadow: 6px 6px 16px 10px #d3d3d3;
}

.section__fonction {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  padding-bottom: 60px;
}
.section__fonction__menu {
  padding-right: 35px;
  height: 70px;
  gap: 20px 5px;
  border: 1px solid #f6f6f6;
  width: 90%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  line-height: 23px;
}
.section__fonction__menu:hover {
  background-color: rgb(164, 161, 161);
}
.section__fonction__menu-m1 {
  display: flex;
  flex-direction: row;
  gap: 50px 10px;
  font-size: 20px;
  align-items: center;
}
.section__fonction__menu-m {
  text-align: center;
  text-decoration-line: none;
  background-color: #9356DC;
  position: relative;
  color: #F2F2F2;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 12px;
}
.section__fonction h2 {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: shrikhand;
  font-size: 25px;
  text-align: left;
  width: 100%;
}
.section__restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.section__restaurants h2 {
  width: 100%;
  font-size: 25px;
  padding-left: 20px;
  text-align: left;
}
.section__restaurants__card {
  height: 250px;
  width: 90%;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
}
.section__restaurants__card .Bnew {
  height: 30px;
  width: 90px;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
  color: rgb(0, 138, 0);
  float: right;
  opacity: 90%;
  position: relative;
  bottom: 150px;
  right: 10px;
  background-color: rgb(169, 230, 169);
}
.section__restaurants__card:hover {
  width: 95%;
  box-shadow: 6px 6px 16px 10px #d3d3d3;
}
.section__restaurants__card img {
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.section__restaurants__card p {
  font-size: 20px;
  color: black;
  text-decoration-line: none;
}
.section__restaurants__card-m {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}
.section__restaurants__card-m1 {
  text-decoration: none;
}
.section__restaurants__card-m2 {
  position: relative;
  left: 84px;
}
.section__restaurants__card .heart:hover {
  font-size: 60px;
  background: linear-gradient(190deg, #FF79DA, #9356DC);
  border-color: linear-gradient(190deg, #FF79DA, #9356DC);
}

.footer {
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 10px;
}
.footer__ohmy {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.footer a {
  text-decoration-line: none;
  color: white;
}

@media screen and (min-width: 992px) {
  .header {
    margin-bottom: 20px;
  }
  .header .btn {
    width: 30%;
  }
  .header-P {
    padding-left: 280px;
  }
  .header-P1 {
    padding-left: 150px;
  }
  .header figure {
    height: 120px;
  }
  .header figure img {
    width: 30%;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__fonction {
    background: linear-gradient(40deg, #FF79DA, #9356DC);
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #f6f6f6;
    box-shadow: 0px 0px 16px 2px #d3d3d3;
    align-self: center;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    width: 95%;
    height: 200px;
    padding: 10px 10px 10px 10px;
  }
  .section__fonction h2 {
    text-align: center;
    padding-top: 0;
    color: white;
    width: 100%;
    font-size: 30px;
  }
  .section__fonction__menu {
    width: 30%;
  }
  .section__restaurants {
    height: 700px;
    flex-flow: row wrap;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .section__restaurants h2 {
    text-align: center;
    font-size: 30px;
    margin-right: 25px;
  }
  .section__restaurants__card {
    width: 40%;
    background: linear-gradient(40deg, #FF79DA, #9356DC);
  }
  .section__restaurants__card-m {
    display: flex;
    flex-direction: row;
  }
  .section__restaurants__card-m1 p {
    color: white;
  }
}
.body1 {
  font-family: Roboto, Shrikhand;
}

.header1 {
  width: 100%;
}
.header1 .figure1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 10 solid #9356DC;
  padding-right: 70px;
  margin-left: Opx;
  height: 50px;
}
.header1 .figure1-m {
  width: 60%;
  height: 30px;
}
.header1 .figure1-m1 {
  font-size: 25px;
  height: 50px;
  position: relative;
  right: 20px;
}
.header1 .figure1-m1 a {
  color: black;
}
.header1-m {
  object-fit: cover;
  width: 100%;
}

.section1 {
  border-radius: 40px 40px;
  background-color: #f6f6f6;
  margin-top: -55px;
  position: relative;
  padding-top: 20px;
}
.section1__titre {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
}
.section1__entrées {
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.section1__entrées h2 {
  font-size: 17px;
  margin-left: 18px;
  margin-bottom: 0px;
}
.section1__entrées-m {
  margin-top: 0px;
  background-color: rgb(169, 230, 169);
  margin-left: 19px;
  width: 45px;
  height: 2px;
}
.section1__entrées_card {
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  margin-left: 18px;
  border: 1px solid white;
  border-radius: 10px 10px;
  height: 60px;
}
.section1__entrées_card p {
  margin: 4px;
  display: flex;
  justify-content: space-between;
}
.section1__plats {
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.section1__plats h2 {
  font-size: 17px;
  margin-left: 18px;
  margin-bottom: 0px;
}
.section1__plats-m {
  margin-top: 0px;
  background-color: rgb(169, 230, 169);
  margin-left: 19px;
  width: 45px;
  height: 2px;
}
.section1__plats_card {
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  margin-left: 18px;
  border: 1px solid white;
  border-radius: 10px 10px;
  height: 60px;
}
.section1__plats_card p {
  margin: 4px;
  display: flex;
  justify-content: space-between;
}
.section1__desserts {
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.section1__desserts h2 {
  font-size: 17px;
  margin-left: 18px;
  margin-bottom: 0px;
}
.section1__desserts-m {
  margin-top: 0px;
  background-color: rgb(169, 230, 169);
  margin-left: 19px;
  width: 45px;
  height: 2px;
}
.section1__desserts_card {
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  margin-left: 18px;
  border: 1px solid white;
  border-radius: 10px 10px;
  height: 60px;
}
.section1__desserts_card p {
  margin: 4px;
  display: flex;
  justify-content: space-between;
}
.section1 .btn {
  border: 1px solid #FF79DA;
  width: 50%;
  background: linear-gradient(190deg, #FF79DA, #9356DC);
  font-size: 20px;
  box-shadow: 0px 0px 16px 2px #d3d3d3;
  height: 65px;
  border-radius: 30px;
  align-self: center;
  color: white;
}
.section1 .btn a {
  text-decoration-line: none;
  color: white;
}
.section1 .btn:hover {
  background: linear-gradient(40deg, #FF79DA, #9356DC);
  box-shadow: 6px 6px 16px 10px #d3d3d3;
}

@media screen and (min-width: 992px) {
  .section1 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .section1__titre {
    width: 100%;
    padding-right: 1100px;
  }
}

/*# sourceMappingURL=style.css.map */
