.btn{
    border: 1px solid $color-primary;
    width: nth($width-box, 4);
    background: $color-primary-grad;
    font-size: 20px;
    box-shadow: 2px 6px 16px 2px rgb(179, 177, 177);
    height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px ;
    align-self: center;
    transition: transform 200ms,;
    & a{
         text-decoration-line: none;
         color: white;
    }
    &:hover
    {
        transform: scale(1.05);
        filter:brightness(111%);
       box-shadow: 6px 6px 16px 2px rgb(179, 177, 177) ;
    }
}
.btn1
{
    margin-left: 50px;
}



@media screen and (min-width: 992px)
{
    .btn
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn1
    {
  
        margin-left: 200px;
    }
}