.section1_note
{
    margin-top: -155px;   
}
.loading
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0;
   animation: P-loading  4s;
   i
   {
       opacity: 0;
       font-size: 40px;
       animation: L-loading 10s;
   }
}

@keyframes P-loading {
    0%{
        z-index: 1;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
    
}
@keyframes L-loading{
        0%{
           opacity: 5.6;
            color: red;
            transform: rotate (360deg);
        }
        20%{
            color: yellow;
            transform: rotate(-360deg);
        }
        70%{

            color: green;
        }
        100%{
            color:red ;
            transform: rotate(360deg);
        }
}
