$color-primary : #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire:#99E2D0;
$color-ombre:#d3d3d3;
$color-primary-grad: linear-gradient(190deg, $color-secondary, $color-primary);
$color-primary-gradrev:linear-gradient(40deg, $color-secondary , $color-primary);
$green: rgb(169, 230, 169);
$grey: #f6f6f6;
$width-box: 100% 90% 80% 65% 50% 30%;
$shadow: 0px 0px 16px 2px $color-ombre;
